<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Lenguaje</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>JavaScript</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Python</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Java</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>PHP</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>C#</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>TypeScript</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>C++</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Ruby</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>C</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Visual Basic</td>
      </tr>
    </tbody>
  </table>
