<div class="container">
    <form [formGroup]="addForm" (ngSubmit)="add(addForm.value)">
        <div class="form-row">
            <div class="col-md-6 mb-3">
                <label >ID</label>
                <input formControlName="id" type="text" class="form-control" maxlength="3" >
                <div class="err" *ngIf="addForm.get('id').hasError('required') && addForm.get('id').touched">*Este campo es necesario, por favor introdusca un ID mayor a 99 y menor a 106</div>
            </div>
            <div class="col-md-6 mb-3">
                <label >Nombre completo</label>
                <input formControlName="nombre" type="text" class="form-control" maxlength="30" >
                <div class="err" *ngIf="addForm.get('nombre').hasError('required') && addForm.get('nombre').touched">*Este campo es necesario, por favor introdusca su nombre</div>
            </div>
        </div>
        <div class="form-rpw">
            <div class="col-md-6 mb-3">
                <legend class="col-form-label col-sm-2 pt-0">Genero</legend>
                    <div class="col-sm-10">
                        <div class="form-check">
                        <input formControlName="sexo"  class="form-check-input" type="radio" value="H">
                        <label  class="form-check-label" for="gridRadios1">
                            Hombre
                        </label>
                        </div>
                        <div class="form-check">
                        <input formControlName="sexo" class="form-check-input" type="radio" value="M" >
                        <label  class="form-check-label" for="gridRadios2">
                            Mujer
                        </label>
                        </div>
                        <div class="err"  *ngIf=" addForm.get('sexo').hasError('required')" >
                            *Este campo es requerido, por favor seleccione una opción
                        </div>
                    </div>
            </div>
            <div class="col-md-6 mb-3">
                <label >Año de nacimiento</label>
                <input formControlName="bd" type="number" class="form-control" maxlength="4" >
                <div class="err" *ngIf="addForm.get('bd').hasError('required') && addForm.get('bd').touched">Este campo es necesario, por favor introdusca un año  mayor a 1979 y menor a 2011</div>
            </div>
        </div>
        <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary"> Registrarse</button>
    
    </form>
</div>
<div class="container" *ngIf="datos.length>0">
    <br>
    <div class="card" style="width: 18rem;" *ngFor="let item of datos">
        <div class="card-body">
          <h5 class="card-title">Nombre: {{item.nombre}}</h5>
          <p class="card-text">ID: {{item.id}} </p>
          <p class="card-text">Sexo: {{item.sexo}} </p>
          <p class="card-text">Año de nacimiento: {{item.bd}}</p>
        </div>
      </div>
</div>
